*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
}

h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  white-space: nowrap;
  text-decoration: underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(5, 86, 86);
}

.nav a{
  text-decoration: none;
  color: white;
}

.nav div{
  display: flex;
  align-items: center;
  gap: 40px;
  /* background-color: white; */
  color: black;
}